[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book.git
[submodule "static/resume"]
	path = static/resume
	url = https://github.com/avr34/Resume.git
